@charset "UTF-8";

/* 상품등록 공백 오류 메세지*/
.inputArea span{
    color : red;
    display: none;
}

	#result_card img{
		max-width: 100%;
	    height: auto;
	    display: block;
	    padding: 5px;
	    margin-top: 10px;
	    margin: auto;	
	}
	#result_card {
		position: relative;
	}


