<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.eun.mapper.CartMapper">
<!-- 카트 추가 -->
	<insert id="addCart">
		insert into product_cart(memberName, productCode, productCount)
		values(#{memberName}, #{productCode}, #{productCount}) 
	</insert>
	
	<!-- 카트 삭제 -->
	<delete id="deleteCart">
		delete from product_cart where cartId = #{cartId}
	</delete>
	
	<!-- 카트 수량 수정 -->
	<update id="modifyCount">
		update product_cart set productCount=#{productCount} where cartId = #{cartId}
	</update>
	
	<!-- 카트 목록 -->
	<select id="listCart" resultType="me.eun.model.CartDTO">
		select*
		from member_tbl a
		inner join product_cart b 
		on a.memberName = b.memberName
		inner join product_tbl c
		on b.productCode = c.productCode
		where a.memberName = #{memberName}
	</select>
	
	
	<!-- 카트 목록 -->
	<select id="getCart" resultType="me.eun.model.CartDTO">
		select*
		from member_tbl a
		inner join product_cart b 
		on a.memberName = b.memberName
		inner join product_tbl c
		on b.productCode = c.productCode
		where a.memberName = #{memberName}
	</select>
	
	<!-- 카트 확인 -->
	<select id="checkCart" resultType="me.eun.model.CartDTO">
		select * from product_cart 
		where memberName = #{memberName} and productCode = #{productCode}
	</select>


</mapper>