<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.eun.mapper.ProductMapper">

<!-- 상품 등록 -->
<insert id="productAdd">
insert into product_tbl(productName, productPrice, productInstock) values(#{productName}, #{productPrice}, #{productInstock});
</insert>




</mapper>